.banner-img {
  background-size: cover;
  position: relative;
  color: white;
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.home-logo {
  max-width: 720px;
  height: auto;
}

@media (max-width: 1366px) {
  .home-logo {
    max-width: 640px;
    height: auto;
  }
}

.btn-home {
  color: var(--lite-1);
  background-color: var(--main-2);
  border-color: var(--main-2);
  border-style: solid;
  border-width: 10px;
  border-radius: 4px;
  width: 100%;
  transition: 0.2s;
}

.btn-home:hover {
  border-color: var(--main-3);
  background-color: var(--main-3);
}

.btn-home:active {
  border-color: var(--main-4);
  background-color: var(--main-4);
}
