@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1em;
  src: local('roboto'),
  url('../fonts/roboto.ttf') format("truetype");
}

:root {
  --main-1: #FFA01A;
  --main-2: #EF8C00;
  --main-3: #DF8200;
  --main-4: #C67400;
  --dark-1: #414559;
  --dark-2: #303446;
  --dark-3: #292c3c;
  --dark-4: #232634;
  --lite-1: #FFFFFF;
  --lite-2: #D8D8D8;
}

body {
  background-color: var(--dark-3);
  color: var(--lite-1);
}

ul {
  list-style-type: none;
}

.navbar-bg {
  background-color: var(--dark-1);
}

.navbar-margin {
  margin-bottom: 56px;
}

.dropdown-menu {
  background-color: var(--dark-2);
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:active {
  background-color: var(--dark-1);
}

.search-input {
  border-color: var(--main-2);
  border-style: solid;
  border-width: 2px;
  border-radius: 1;
  border-right: none;
  padding: 10px;
  z-index: 2;
}

.btn-send {
  color: var(--lite-1);
  background-color: var(--main-2);
  border-color: var(--main-2);
  border-style: solid;
  border-width: 2px;
  border-radius: 0 10px 10px 0px;
  border-left: none;
  padding: 8px 24px;
  z-index: 2;
}

.btn-send:hover {
  border-color: var(--main-3);
  background-color: var(--main-3);
}

.btn-send:active {
  border-color: var(--main-3);
  background-color: var(--main-3);
}

.btn-send:disabled {
  border-color: var(--dark-4);
  background-color: var(--dark-4);
}
