/* You did NOT add something :( */
ul {
  list-style-type: none;
  padding-left: 0px;
  padding-right: 0px;
}

a {
  color: var(--lite-1);
  text-decoration: none;
}

a:hover {
  color: var(--lite-1);
  text-decoration: underline;
}

.movie-card {
  color: var(--lite-1);
  background-color: var(--dark-1);
  border-color: var(--main-2);
  border-width: 2px;
}

.movie-header {
  color: var(--lite-1);
  background-color: var(--main-2);
}
