{% extends 'main.html' %} {% load static %} 

{% block meta %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<title>Home - MOCAGE</title>
{% endblock meta %}

{% block content %} {% include 'navbar.html' %}
<div class="banner-img vh-100" style="background-image: url({% static 'assets/home.jpg' %});" >
  <div class="color-overlay d-flex flex-column justify-content-center align-items-center">
    <div class="navbar-margin">&nbsp</div>
    <br>
    <a href="https://www.youtube.com/watch?v=CdXesX6mYUE">
      <img class="svg mb-2 home-logo" src="{% static 'assets/logo.svg' %}" alt="Mocage Logo"/>
    </a>
    <h1><b> Movie Catalogue Aggregator </b></h1>
    <p> Get MOCAGEd in your movies with our aggregator!</p>
    <a href="/search">
      <button class="btn-home">
        Search movie
      </button>
    </a>
    &nbsp 
    <p> We use <a href="https://filmtv.it">FilmTV</a> to gather our database | <a href="https://gitlab.com/fawzakin/mocage"> Source Code </a> </p>
  </div>
</div>

<!-- Card Design -->
{% endblock content %}
