{% extends 'main.html' %} {% load static %} 

{% block meta %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<title>Search - MOCAGE</title>
{% endblock meta %}

{% block content %} {% include 'navbar.html' %}
<p class="navbar-margin">&nbsp</p>
{% if movies %}
  <h1 align="center" class="mb-3"> You search for "{{ search }}" </h1>
  <ul>
  {% for movie in movies %}
    <li>
      <div class="card movie-card mx-3">
        <a href="{{ movie.url }}">
          <h4 class="card-header movie-header rounded-0">{{ movie.title }} ({{ movie.year}})</h4>
        </a>
        <div class="card-body">
          <p class="card-title">
            <b>Country:</b> {{ movie.country_names }} | 
            <b>Genre:</b> {{ movie.genre_name }} |
            <b>Duration:</b> {{ movie.duration }} Minutes
          </p>
          <p class="card-title">
            <b>Average Rating:</b> {{ movie.vote_avg }}/<small>10.0</small> |
            <b>Critic Rating:</b> {{ movie.vote_critic }}/<small>10.0</small> |
            <b>Public Rating:</b> {{ movie.vote_public }}/<small>10.0</small> |
            <b>Total Rating:</b> {{ movie.vote_total }}
          </p>
          <p class="card-title">
            <b>Humor:</b> 
            {% if movie.humor == "0" %}
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.humor == "1" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.humor == "2" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.humor == "3" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.humor == "4" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.humor == "5" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
            {% endif %}
            |
            <b>Rhythm:</b> 
            {% if movie.rhythm == "0" %}
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.rhythm == "1" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.rhythm == "2" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.rhythm == "3" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.rhythm == "4" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.rhythm == "5" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
            {% endif %}
            |
            <b>Effort:</b> 
            {% if movie.effort == "0" %}
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.effort == "1" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.effort == "2" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.effort == "3" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.effort == "4" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.effort == "5" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
            {% endif %}
            |
            <b>Tension:</b> 
            {% if movie.tension == "0" %}
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.tension == "1" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.tension == "2" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.tension == "3" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.tension == "4" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.tension == "5" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
            {% endif %}
            |
            <b>Erotism:</b> 
            {% if movie.erotism == "0" %}
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.erotism == "1" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.erotism == "2" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.erotism == "3" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle-dot"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.erotism == "4" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle-dot"></i>
            {% elif movie.erotism == "5" %}
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
            {% endif %}
          </p>
          <hr>
          <p class="card-text">
            <b>Director:</b><br>
            {{ movie.dir_names }}
            <br>
            <b>Actors:</b><br>
            {{ movie.act_names }}
          </p>

          <hr>
          <p class="card-text">
            <b>Description:</b><br>
            {{ movie.desc }}
            <br>
            <b>Note:</b><br>
            {{ movie.note }}
          </p>
        </div>
      </div>
      <br>
    </li>
  {% endfor %}
  </ul>
{% else %}
  {% if error %}
    <h1 align="center"> {{ error }} </h1>
  {% elif search %}
    <h1 align="center"> No result found for "{{ search }}" </h1>
  {% else %}
    <h1 align="center"> Use the search bar at the top to find your movie! </h1>
  {% endif %}
{% endif %}

{% endblock content %}
