{% load static %}
<nav class="navbar navbar-dark navbar-bg shadow fixed-top">
  <form class="container-fluid" method="POST" action="/search">
    {% csrf_token %}
    <div class="input-group">
      <select class="form-select" name="sort_by">
        <option value="title">Title</option>
        <option value="year">Year</option>
        <option value="duration">Duration</option>
        <option value="humor">Humor</option>
        <option value="rhythm">Rhythm</option>
        <option value="effort">Effort</option>
        <option value="tension">Tension</option>
        <option value="erotism">Erotism</option>
        <option value="vote_avg">Average Rating</option>
        <option value="vote_critic">Critic Rating</option>
        <option value="vote_public">Public Rating</option>
        <option value="vote_total">Total Rating</option>
      </select>
      {% if search %}
        <input class="form-control search-input" type="search" placeholder="Search movie" aria-label="Search" name="search" value="{{ search }}">
      {% else %}
        <input class="form-control search-input" type="search" placeholder="Search movie" aria-label="Search" name="search">
      {% endif %}
      <button class="btn-send" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
  </form>
</nav>
