<nav class="navbar navbar-expand-md navbar-dark navbar-bg shadow fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      {% load static %}
      <img class="svg d-inline-block align-top" src="{% static 'assets/logo.svg' %}" alt="Mocage Logo" height="30" weight="30"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link" href="/"><strong>Home</strong></a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/logout"><strong>Chat</strong></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login"><strong>Log in</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register"><strong>Register</strong></a>
        </li>
        {% endif %}
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </ul>
    </div>
  </div>
</nav>
